.acessorios {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 35px 0px 48px 0px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            padding-left: 0px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .left_arrow {
        left: 40%;
    }

    .slider_arrow {
        top: 40%;
    }
}

.reviews {
    padding: 70px 10px;

    h2 {
        margin-bottom: 40px;

        span {
            font-weight: normal;
            font-size: 18px;
            padding-left: 8px;
        }
    }
}

.container_review {
    padding-left: 36px;
}

.slider_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.slider_reviews {
    display: flex;
    width: 100%;
}

.slide_review {
    padding-top: 10px;

    img {
        width: 12px;
        height: 12px;
    }
}

.review_user_info {
    padding-top: 20px;

    P {
        padding: 20px 0px 38px 0px;
    }
}

.slider_container button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev_review {
    left: 0;
}

.next_review {
    right: 0;
}

button:hover {
    color: #333;
}

.slider_bars {
    display: flex;
    justify-content: center;
    position: absolute; 
    bottom: 5px;       
    width: 100%;        
    gap: 10px;   

    .bar {
        width: 18px;
        height: 8px;
        background-color: #333; 
        border-radius: 2px; 
        transition: background-color 0.3s ease;
    }
}


.bar:hover {
    background-color: #555; 
}