.banner_slider {
    position: relative;
    width: 100%;
    height: 420px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.bar {
    width: 180px;
    height: 2px;
    background-image: url('../icons/barra-hero1.png');
    opacity: 0.5;
    transition: opacity 0.3s;
}

.bar.active {
    background-image: none;
    background-color: white;
}

.logos {
    display: flex;
    justify-content: center;
    height: 70px;
    
    .logo_tatuape {
        margin-right: 10px;
    }

    .separator {
        width: 2px; 
        background-color: black; 
        height: 100%;  
        margin: 0 15px; 
    }
}

.slide_content1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30%;
    left: 5%;

    h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: white;
    }

    span {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: white;
    }
}

.buy-button {
    height: 50px;
    width: 180px;
    color: white;
    font-weight: bold;
    background-image: url(../icons/botão-hero-1.png);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.buy-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}