.banner_container {

    .logos {
        display: flex;
        align-items: center;

        .logo_tatuape {
            height: 50px;
            width: 50px;
        }

        .logo_lacoste {
            height: 28px;
            width: 180px;
        }

        .separator {
            width: 2px; 
        background-color: black; 
        height: 100%;  
        margin: 0 15px; 
        }
    }

    .content_n_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0px;

        P {
            font-size: 12px;
        }

        h2 {
            font-weight: 800;
            font-size: 30px;
        }

        small {
            text-align: center;
            font-size: 12px;
        }

        button {
            height: 50px;
            width: 180px;
            margin: 15px 0px 18px 0px;
            color: white;
            font-weight: bold;
            background-image: url(../icons/botão-hero-1.png);
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;
        }
    }

    img {
        width: 400px;
        height: 380px;
        object-fit: cover; 
        object-position: center;
    }
}
