.buy_category {
    width: 100%;
    margin-left: 50px;

    h2 {
        margin-top: 80px;
        margin-bottom: 35px;
    }
}

.top_container {
    position: relative;

    .category_arrow {
        position: absolute;
        top: 70%;
        right: 20%;
        border: none;
        padding: 5px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
    }

    .category_arrow.left {
        left: 80%;
        background-image: url(../icons/arrow-left.png);
        background-position: center;
    }

    .category_arrow.right {
        right: 10%;
        background-image: url(../icons/arrow.png);
        background-position: center;
    }
}

.buy_category_wrapper {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 470px; 
    gap: 45px;
    transition: transform 0.5s ease;
    width: 100vw;
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.buy_category_wrapper::-webkit-scrollbar {
    display: none; 
}

.buy_category_content_image {
    position: relative;
    height: 600px;
    width: 400px;
    z-index: 2;

    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    button {
        position: absolute;
        bottom: 0%;
        right: 0%;
        height: 50px;
        padding: 10px 20px;
        border: none;
        color: white;
        font-weight: bold;
        background-color: black;
        background: radial-gradient(at bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.801));
        cursor: pointer;
    }

    button:hover {
        color: black;
        background: radial-gradient(at bottom, rgb(143, 139, 139), rgb(255, 255, 255));
    }
}

.buy_category_content_title {
    margin-top: 35px;
    margin-left: 10px;
    text-decoration: underline;

    h3 {
        cursor: pointer;
    }
}

.brand_wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 100px;
}

.brand_content img {
    filter: grayscale(1);
    transition: filter 0.3s;
    opacity: .6;
    cursor: pointer;
}
