footer {
    width: 100%;
}

.about {
    flex-direction: column;
    align-items: center;
    padding: 0px 25px 40px 25px;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about_content {
    p {
        font-size: 12px;
        text-align: center;
        padding: 0px, 40px;
    }
}

.footer_newsletter {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 70px 0;

    h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .007em;
        text-align: center;
        margin-bottom: 20px;
    }

    div {
        width: 100%;
        margin-bottom: 20px;
    }

    .input_container {
        display: flex;
        justify-content: center;
    }

    input {
        width: 90%;
        color: white;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #888;
        height: 50px;
        outline: none;
    }

    input::placeholder {
        color: white;
        opacity: 1;
        font-weight: 300;
    }

    .checkbox_container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .input_checkbox {
        appearance: none;
        width: 23px;
        height: 23px;
        margin-right: 5px;
        border: 1px solid white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
    }

    .input_checkbox:checked::before {
        content: '✔';
        color: green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button_container {
        display: flex;
        justify-content: center;

        button {
            height: 56px;
            width: 154px;
            opacity: 0.8;
            color: black;
            font-size: 15px;
            font-weight: 700;
        }

        button:hover {
            background-color: black;
            color: white;
            transition: .3s;
            border: 2px solid white;
        }
    }
}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.dropdowns_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.col {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    position:relative
}

.arrow_down::after {
    content: '▼'; 
    position: absolute;
    right: 10px;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.h3.active::after {
    transform: rotate(180deg); 
}

col .dropdown{

}
.dropdown {
    display: none;
    margin-top: 8px;
    padding-left: 20px;

    li {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #e3dfdc;
    }
}

.dropdown.active {
    display: block;
}

.footer_links {
    display: flex;
    gap: 20px;
    justify-content: center;

    .col {

        h3 {
            font-size: 16px;
            font-weight: bold;
            padding: 0px 0px 12px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            a {
                color: black;
                text-decoration: none;

                span {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        li {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .col_footer_pay-sec {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer_payments {
        p {
            text-align: center;
            padding: 30px 0px;
        }
    }

    .footer_payments ol {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        zoom: 0.8;
        filter: grayscale(1);
        max-width: 296px;
    }

    .footer_payments li {
        width: 48px;
        height: 34px;
        background-image: url('../icons/payment.62223b1.png');
        background-size: auto 100%;
    }

    .footer_payments .visa {
        background-position: 0 0;
    }

    .footer_payments .master {
        background-position: -48px 0;
    }

    .footer_payments .amex {
        background-position: -144px 0;
    }

    .footer_payments .hipercard {
        background-position: -192px 0;
    }

    .footer_payments .elo {
        background-position: -240px 0;
    }

    .footer_payments .pix {
        background-position: -336px 0;
    }

    .footer_security {
        display: flex;
        flex-direction: column;
        gap: 10px;

        ol {
            display: flex;
            gap: 10px;
            align-items: center;
            zoom: 0.8;
            filter: grayscale(1);
        }

        span {
            text-align: center;
            font-size: 14px;
            padding-bottom: 15px;
        }
    }

    .footer_socials {
        nav {
            display: flex;
            justify-content: center;
            gap: 15px;

            .fc-icon {
                height: 18px;
                width: 13px;
            }

            .inst-icon {
                height: 18px;
                width: 24px;
            }
        }
    }
}

.copy_wrapper {
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    background-color: white;
}

.copy {
    height: 30px;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;

    p {
        font-size: 11px;
        font-weight: 300;
        text-align: center;
    }
}

.logo_convertr {
    margin: 30px;
    position: absolute;
    right: 45%;
    width: 98px;
    height: 19px;
}