.header {
    background-color: black;
    color: white;
}

.header_topbar {

    display: flex;
    justify-content: center;
    padding: 50px 0px 20px 0px;
    position: relative;

    .icon {
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
        text-align: center;
    }
    .prev {
        left: 5%;
        font-size: 13px;
        font-weight: bold;
    }

    .next {
        right: 5%;
        font-size: 13px;
        font-weight: bold;
    }

    ul {
        font-size: 10px;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    li {
        display: flex;
        align-items: center;
    }
}

.header_content {

    .container {
        display: grid;
        grid-template-columns: 1fr 60px 1fr;
        padding: 15px 20px;
        position: relative;
        border-left: none;
        border-right: none;

        .logo {
            height: 60px;
            width: 54px;
        }
    }

    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        li {
            display: flex;
            height: 40px;
            width: 40px;
            padding: 10px;
        }
    }

    .header_content_searchbar {
        
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        position: relative;
        max-width: 768px;

        span {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: #000000;
            font-size: 16px;
            font-weight: bold;
        }

        input {
            width: 100%;
            justify-content: space-between;
            background-color: #f2f2f2;
            border: none;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            color: black;
            outline: none;
            padding: 15px 10px;
        }

        img {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            font-size: 14px;
            width: 20px;
            height: 20px;
        }

        .search_icon{
            background-image: url(../icons/search-icon.svg);
        }
    }

    .header_content_nav_icons {
        display: flex;
        align-items: center;
    }
}

.header_nav-wrapper {
    display: flex;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: bold;
            position: relative;
        }

        a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            height: 2px;
            background-color: white;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        a:hover::after {
            transform: scaleX(1);
        }

        i {
            color: #4a4a4a;
            margin-left: 8px;
        }
    }

    .like_container{
        display: flex;
        align-items: center;
    }
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
    width: 60px;
    height: 13px;
    
}

.line {
    height: 2px;
    width: 50%;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown_header .content {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100vw;
    background-color: #f2f2f2;
    padding: 10px 0;
    z-index: 1;
}

.dropdown_header .content span {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 50px;
    display: block;
}

.dropdown_header:hover .content {
    display: block;
    background-color: #f6f6f6;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 40px;
    justify-content: center;
    align-items: center;
}

.grid_container img {
    width: 100%;
    height: auto;
    background-size: cover;
}